@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.comment {
  margin: 1% 0;
  padding: 1%;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0px 6px #ccc;
  font-family: "Source Sans Pro", sans-serif;
}
.comment p {
  margin-top: 5px;
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  .comment {
    padding: 2%;
  }
}
