.container {
  position: fixed;
  top: 15%;
  right: 1%;
  width: 23%;
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  flex-direction: column;
  border-top: 1px solid rgb(184, 184, 184);
  overflow-y: scroll;
}

.container h2 {
  margin-bottom: 1rem;
}

@media (max-width: 1025px) {
  .container {
    display: none;
  }
}
