@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.postbg {
  width: 100%;
  padding: 2%;
}

.postContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 6px #ccc;
}

.singlepost {
  padding: 5%;
}

.singlepost h3 {
  margin-bottom: 2%;
}

.singlepost span {
  font-size: 0.8rem;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-bottom: 2%;
}

.actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f1f2f6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: grey;
  padding: 2% 5%;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 1%;
}

.actions button span {
  font-size: 1.2rem;
  padding-right: 9%;
}

/* .like button {
    padding: 19%;
} */

/* .comment {
    padding-left: 4%;
} */

@media (max-width: 500px) {
  .postContainer {
    font-size: 0.9rem;
  }
}
