.main_container {
  padding: 3% 15%;
  background-color: #f1f2f6;
  min-height: 100vh;
}

.user_profile {
  display: flex;
  flex-direction: column;
}

.userinfo {
  display: flex;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 6px #ccc;
}

.userinfo_mobile {
  border-top: 2px solid grey;
  display: none;
}

.nameaddress {
  margin-left: 33%;
  text-align: left;
  padding: 5% 2%;
}

.nameaddress h4 {
  margin-bottom: 0.5rem;
}

.userimg {
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 18%;
  top: 18%;
  bottom: 5%;
  overflow: auto;
  box-shadow: 0px 0px 6px #ccc;
  border-radius: 5px;
  background-color: white;
}

.userimg p {
  padding: 0 5px;
  text-align: center;
}

.userimg i,
.userimg_mobile i {
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
}

.userimg_mobile i {
  margin-right: 4.3%;
}

.userimg img {
  border-radius: 50%;
  margin-top: 5%;
}

.userimg h3 {
  margin-top: 1rem;
}

.userimg_mobile {
  margin-top: 2rem;
  display: none;
}

.userimg_mobile img {
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.socials {
  text-decoration: none;
  margin-top: 1rem;
}

.socials i {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

.actions {
  margin-left: auto;
  padding: 5% 2%;
}

.actions i {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.actions i:hover {
  color: blueviolet;
}

.actions button {
  border: 0;
  outline: 0;
  background-color: white;
}

.userposts {
  margin-left: 35%;
}

.userposts h2 {
  margin-top: 1rem;
}

.mobile_bio {
  display: none;
  padding: 1% 2%;
  margin-bottom: 1rem;
  border-bottom: 2px solid grey;
}

.upload {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.imagepicker {
  display: flex;
  align-items: center;
  padding: 1% 0px;
  font-size: 1.4rem;
}

.imagepicker label {
  width: 30%;
  margin-right: 0.7rem;
  cursor: pointer;
}

.imagepicker span {
  font-size: 1.1rem;
  display: block;
  width: 100%;
  border: 0;
  color: white;
  background-color: #1b74e4;
  border-radius: 5px;
  padding: 5px 2px;
  margin-bottom: 0;
  text-align: center;
}

.imgprev {
  margin: 0.7rem 0;
  width: 100%;
  height: 120px;
}

.imgprev img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.modalbtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.modalbtns button {
  margin: 0 5px;
  padding: 5px;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  background-color: rgb(215, 172, 255);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main_container {
    padding: 3% 8%;
  }

  .userimg {
    left: 10%;
    width: 25%;
  }

  .userposts {
    margin-left: 35%;
  }

  .nameaddress {
    margin-left: 33%;
  }
}

@media (max-width: 1025px) {
  .main_container {
    padding: 3%;
  }

  .userimg {
    left: 5%;
    width: 30%;
  }

  .userposts {
    margin-left: 36%;
  }

  .nameaddress {
    margin-left: 34%;
  }
}

@media (max-width: 768px) {
  .main_container {
    padding: 3% 5%;
  }

  .userinfo {
    display: none;
  }

  .userimg_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
  }

  .mobile_bio {
    display: block;
  }

  .userinfo_mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .nameaddress {
    margin-left: 0%;
    padding: 3% 2%;
  }

  .userposts {
    margin-left: 0;
  }

  .userposts h2 {
    margin-left: 2%;
  }

  .actions button {
    background-color: #f1f2f6;
  }
}

@media (max-width: 500px) {
  .actions i,
  .socials i {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .actions i {
    font-size: 1.2rem;
  }

  .main_container {
    padding: 3%;
  }
}

@media (max-width: 350px) {
  .actions i {
    font-size: 1rem;
  }

  .actions i {
    margin: 0.2rem;
  }

  .nameaddress h1 {
    font-size: 1.3rem;
  }

  .nameaddress p,
  .mobile_bio p {
    font-size: 0.9rem;
  }
}
