@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu&family=Varela+Round&display=swap");

.wrapper {
  padding: 2% 30%;
  padding-bottom: 5%;
  background-color: #f1f2f6;
  min-height: 100vh;
  z-index: -5;
}

.msgwrapper {
  font-family: "Montserrat", sans-serif;
  z-index: -2;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #ccc;
  padding: 2%;
  min-height: 85vh;
  animation: slide-down 500ms ease-out;
}

.msgwrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.msgwrapper h2 i {
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(121, 156, 251);
}
.msgform {
  position: fixed;
  top: 93%;
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
  animation: slide-up 300ms ease-out forwards;
}

.msgform form {
  box-shadow: 0px 0px 6px rgb(154, 154, 154);
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #c3c2c2;
}

.msgform input {
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding: 0.7rem 5px;
  width: 85%;
  background-color: #c3c2c3;
}

.msgform button {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  padding: 0.7rem;
  background-color: #ffe0e0;
  cursor: pointer;
}

.msgform button:hover {
  background-color: #d4c2c2;
}

.nomsgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(15vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 2% 20%;
    padding-bottom: 6%;
  }

  .msgform {
    padding: 0 10%;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    padding: 4% 10%;
    padding-bottom: 9%;
  }

  .msgform {
    padding: 0 4%;
  }

  .msgform form {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding: 7% 3%;
    padding-bottom: 15%;
  }

  .msgform {
    padding: 0;
  }
}
