.wrapper {
  padding: 2% 30%;
  background-color: #f1f2f6;
  min-height: 100vh;
}

.msgwrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #ccc;
  padding: 2%;
  min-height: 85vh;
}

.msgwrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.msgform {
  position: fixed;
  top: 93%;
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
}

.msgform form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
}

.msgform input {
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding: 0.7rem 5px;
  width: 85%;
  background-color: #e2e2e2;
}

.msgform button {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  padding: 0.7rem;
  background-color: #ffe0e0;
  cursor: pointer;
}

.msgform button:hover {
  background-color: #ffbaba;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 2% 20%;
  }

  .msgform {
    padding: 0 10%;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    padding: 4% 10%;
    padding-bottom: 7%;
  }

  .msgform {
    padding: 0 4%;
  }

  .msgform form {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding: 7% 3%;
    padding-bottom: 15%;
  }

  .msgform {
    padding: 0;
  }
}
