@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu&family=Varela+Round&display=swap");

* {
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Varela Round", sans-serif;
  background-image: linear-gradient(blue, pink);
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 18%;
  padding: 5%;
  border-radius: 20px;
  background-color: white;
  justify-content: center;
  box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
}

.logincontainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer h4 {
  color: rgb(125, 0, 125);
}

.logincontainer form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logincontainer input {
  font-family: "Varela Round", sans-serif;
  border: 0;
  outline: 0;
  border-bottom: 2px solid gray;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.logincontainer button {
  font-family: "Varela Round", sans-serif;
  border: 0;
  outline: 0;
  background-color: black;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 80%;
  font-size: 1.9rem;
}

.logincontainer button:hover {
  cursor: pointer;
  background-color: rgb(146, 146, 219);
}

.loginimg {
  width: 50%;
}

.loginimg img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .maincontainer {
    margin: 8% 10%;
  }
}

@media (max-width: 1000px) {
  .maincontainer {
    margin: 10% 5%;
  }
}
@media (max-width: 850px) {
  .logincontainer input {
    font-size: 1rem;
  }

  .maincontainer {
    margin: 15% 5%;
  }

  .logincontainer button {
    font-size: 1.4rem;
  }

  .logincontainer h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .maincontainer {
    margin: 20% 5%;
  }
}

@media (max-width: 600px) {
  .loginimg {
    display: none;
  }

  .maincontainer {
    margin: 20% auto;
    width: 80%;
    padding: 10%;
  }

  .logincontainer {
    width: 100%;
    padding: 10%;
  }

  .logincontainer input {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .maincontainer {
    margin: 30% auto;
  }

  .logincontainer input {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .maincontainer {
    width: 90%;
    padding: 13% 5%;
  }

}

@media (max-width: 350px) {

  .maincontainer {
    margin: 40% auto;
  }
  .logincontainer input {
    font-size: 1rem;
  }
}