nav {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 5px 8px;
  box-shadow: 0px 0px 6px rgb(152, 152, 152);
  position: sticky;
  margin-bottom: 0%;
  bottom: 0;
}

.nav_left {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 50px;
  height: 35px;
  font-size: 1.5rem;
}

.nav_mid {
  display: flex;
  align-items: center;
}

.activeicon {
  border-bottom: 4px solid #1b74e4;
}

.activeicon span {
  color: #1b74e4;
}

.icons {
  padding: 10px 2.5vw;
  border-radius: 5px;
  color: #66676c;
}

.icons span,
.icons i {
  font-size: 32px;
}

.icons:hover {
  background-color: #f1f2f6;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.nav_right {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 5px 0px;
  justify-content: space-between;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons span {
  padding: 8px;
  margin: 0 1px;
  border-radius: 50%;
  background: #e4e6eb;
}

.buttons span:hover {
  background-color: #d8d9dd;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.active span {
  color: #ffffff;
  background-color: #1b74e4;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80%;
  margin-left: 20%;
  background: #e4e6eb;
  padding: 1rem;
  z-index: 30;
  animation: slide-left 300ms ease-out forwards;
  height: 100vh;
}

.nav_right_mobile {
  align-items: center;
  /* padding-right: 10px; */
  display: none;
}

.links_mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.links_mobile .link {
  width: 100%;
}

.link {
  text-decoration: none;
}

.link .icons {
  display: flex;
  align-items: center;
}

.link h2 {
  margin-left: 1rem;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .nav_mid,
  .nav_right {
    display: none;
  }

  .nav_right_mobile {
    display: flex;
  }
}

@media (max-width: 440px) {
  .icons span,
  .icons i {
    font-size: 24px;
  }
  .link h2 {
    font-size: 1.2rem;
  }
}
