.addPostWrapper {
  background-color: #f1f2f6;
  padding: 1% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 90vh;
}

.addpostform {
  width: 55%;
  padding: 2% 10%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #ccc;
  height: 50vh;
}

.addpostform button {
  /* border-radius: 100px; */
  border: none;
  margin-bottom: 5%;
  float: right;
  padding: 1%;
  background-color: #f1f2f6;
  color: black;
}

.addpostform input,
.addpostform textarea {
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background: transparent;
  margin-bottom: 1rem;
  padding: 3%;
  cursor: text;
}

.addpostform textarea {
  border: none;
  background-color: #f1f1f6;
  resize: none;
  border-radius: 6px;
}

.addpostform input {
  border: none;
  background-color: whitesmoke;
  border-radius: 6px;
}

.actions {
  float: right;
  padding: 2% 0;
  margin-right: 0;
}

.actions button {
  border: 0;
  outline: 0;
  margin: 5px;
  padding: 12px 13.7rem;
  font-size: 0.8rem;
  background-color: #1B74E4;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 6px;
}

.actions button:hover {
  background-color: #186ace;
}

.invalid input,
.invalid textarea {
  background-color: #ffc1c1;
  /* border: 1px solid red; */
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error {
  font-size: 0.9rem;
  color: red;
}

@media (max-width: 1200px) {
  .addPostWrapper {
    padding: 2% 5%;
  }

  .addpostform {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .addpostform {
    width: 90%;
  }
  .addpostform label {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .addpostform {
    padding: 5%;
  }

  .actions button {
    padding: 5px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .addpostform {
    padding: 7% 3%;
  }

  .addPostWrapper {
    padding: 2%;
  }

  .addpostform label {
    font-size: 1rem;
  }

  .addpostform input,
  .addpostform textarea {
    font-size: 0.8rem;
  }

  .actions button {
    padding: 5px;
    font-size: 0.9rem;
  }
}
