.listcontainer {
  position: fixed;
  top: 15%;
  left: 12%;
  width: 27%;
  display: flex;
  padding: 1%;
  flex-direction: column;
  height: 80vh;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #ccc;
  background-color: #fcf6f5ff;
}

.friendcont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.friendcont a {
  width: 85%;
}

.msgchat {
  width: 15%;
  height: 90%;
}

.msgchat a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: grey;
  transition: all 0.3s ease-in;
}

.msgchat a:hover {
  border-radius: 5px;
  background-color: white;
}

.msgchat i {
  font-size: 1.4rem;
}

.listcontainer h2 {
  margin-bottom: 1rem;
}

.container {
  min-height: 90vh;
  width: 100%;
  padding: 2.8% 0;
  padding-left: 42%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f1f2f6;
}

.container h2 {
  padding-left: 2%;
}

.nopost {
  margin-left: 30%;
  font-size: 3rem;
}

.nofriends {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .listcontainer {
    left: 8%;
  }

  .container {
    padding-left: 38%;
    padding-right: 8%;
  }
}
@media (max-width: 1025px) {
  .listcontainer {
    left: 4%;
    width: 33%;
  }

  .container {
    padding-top: 3%;
    padding-left: 40%;
    padding-right: 3%;
  }
}

@media (max-width: 850px) {
  .container {
    padding-top: 3.5%;
    padding-right: 1%;
  }

  .listcontainer {
    left: 2%;
    width: 35%;
  }

  .listcontainer h2 {
    font-size: 1.3rem;
  }

  .listcontainer h3 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }

  .mobile {
    padding: 2% 20%;
    background-color: #f1f2f6;
  }

  .listcontainer {
    margin-top: 1rem;
    position: static;
    width: 100%;
    min-height: 90vh;
    padding: 0 5%;
  }

  .listcontainer h2 {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .mobile {
    padding: 3% 10%;
  }
}

@media (max-width: 400px) {
  .mobile {
    padding: 5%;
  }
}
