@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu&family=Varela+Round&display=swap");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  background: white;
  border-radius: 5px;
  position: fixed;
  top: 20%;
  height: 190px;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #dadada;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: black;
}

.content {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.button {
  font: inherit;
  border: 1px solid #4e4750;
  background: #4e4750;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #423944;
  border-color: #423944;
}

.button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 90%;
    left: 5%;
  }

  .header h2 {
    font-size: 1.3rem;
  }
}
